{
  "$schema": "node_modules/wrangler/config-schema.json",
  "name": "peerbridge-edge",
  "main": "src/index.js",
  "compatibility_date": "2026-08-15",
  "workers_dev": true,
  "observability": {
    "enabled": true,
    "head_sampling_rate": 0.05
  },
  "d1_databases": [
    {
      "binding": "DB",
      "database_name": "peerbridge-feedback",
      "database_id": "REPLACE_WITH_D1_DATABASE_ID"
    }
  ],
  "r2_buckets": [
    {
      "binding": "BUNDLES",
      "bucket_name": "peerbridge-feedback-bundles"
    }
  ],
  "vars": {
    "SUPPORT_PUBLIC_KEY_DER_SHA256": "04dedc1d8982654ede5a58146d292666467130274fcb0c4a0f813b0509f8eea3"
  },
  "triggers": {
    "crons": ["17 * * * *"]
  }
}
